/* Font "Outfit" google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #4fbf8b;
    --color-primary-dull: #44ae7c;
    --color-dark-green: #1b6b45

}

.grid-container > :nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
}
@media (min-width: 640px) {
    .grid-container > :nth-last-child(1):nth-child(odd) {
        grid-column: span 1;
    }
}